body{
    background: #E6EBEA;
}
.delivery-card{
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.delivery-card .card{
    display: flex;
    gap: 5px;
    align-items: center;
    /* padding: 16px 32px; */
    padding: 5px 10px 0px 10px;
    color: white;
    display: flex;
    width: 200px;
    height: 95px;
    background: var(--Foundation-Primary-primary-300, #557C72);
    border-radius: 5px;
}
.delivery-card .card .icon{
    align-self: center;
}
.product-items{
    padding: 50px;
}



@media screen and (max-width: 1150px) {
    .delivery-card {
        padding: 20px 40px 20px 40px;
        gap: 20px;
    }
    .product-items{
        padding: 40px;
    }
    
}
@media screen and (max-width: 1000px) {
    .delivery-card {
        padding: 20px 20px 20px 20px;
        gap: 10px;
    }
    .delivery-card .card{
        width: 150px;
    }
    .product-items{
        padding: 30px;
    }
    
}
@media screen and (max-width:500px) {
    .delivery-card {
        padding: 20px 5px 20px 5px;
        justify-content: space-between;
    }
    .delivery-card .card{
        width: 150px;

    }
    .product-items{
        padding: 10px;
    }
}